* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ECF6C7;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #10192F;
    width: 30rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 3px 3px 1px;
    border: 5px solid 
    #F13107;
    
    
    
}
h1 {
    font-size: 3rem;
    color: #F39309;
}
p {
    padding: 10px;
    font-size: 2rem;
    color: #F13107;
}
.buttons button {
    font-size: 1rem;
    color: #F39309;
}
.btn {
    padding: 10px;
    border-radius: 10px;
    background-color: #ECF6C7;
    color: whitesmoke;
}

